<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB529wG9vcg9EimjPq7Ab9tuKYKWxDWd0o</string>
	<key>GCM_SENDER_ID</key>
	<string>865797437620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sensorize</string>
	<key>PROJECT_ID</key>
	<string>sensorize-7380b</string>
	<key>STORAGE_BUCKET</key>
	<string>sensorize-7380b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865797437620:ios:9ab130217c6fbeef617fe1</string>
</dict>
</plist>